<div class="full-screen-container">
  <div class="container">
    <img src="../../../assets/images/logo-com-frase-V2.png" alt="Logo Lamp" class="logo-img">
    
    <!-- Etapa 1: Formulário de informações -->
    <div *ngIf="step === 1">
      <form (ngSubmit)="goForward()">
        <div class="form-group">
          <label for="id">Código da Reserva:</label>
          <input type="text" class="form-control" id="id" [(ngModel)]="id" name="id" disabled required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="cpf" placeholder="CPF" [(ngModel)]="formData.cpf" name="cpf" required mask="000.000.000-00">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Nome" [(ngModel)]="formData.nome" name="nome" required>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" id="phone" placeholder="Telefone" [(ngModel)]="formData.telefone" name="telefone" required>
        </div>
        <button type="submit" class="btn btn-success">Próximo</button>
      </form>
    </div>
    <!-- Etapa 2: Captura de foto -->
    <div *ngIf="step === 2">
      <div class="camera-container">
        <ng-container *ngIf="!photoDataUrl">
          <ng-container *ngIf="loadingCamera">
            <div class="loader-container">
              <div class="loader"></div>
            </div>
          </ng-container>
          <video #video autoplay playsinline></video>
        </ng-container>
        <ng-container *ngIf="photoDataUrl">
          <img #photo [src]="photoDataUrl" alt="Sua foto aparecerá aqui.">
        </ng-container>
      </div>
      <button (click)="capturePhoto()" class="btn btn-success mt-3" *ngIf="!photoDataUrl">Capturar Foto</button>
      <button (click)="goForward()" class="btn btn-success mt-3" *ngIf="photoDataUrl">Próximo</button>
      <button (click)="cancelPhoto()" class="btn btn-danger mt-3" *ngIf="photoDataUrl">Cancelar</button>
      <button (click)="goBack()" class="btn btn-secondary mt-3" *ngIf="!photoDataUrl">Voltar</button> <!-- Botão para voltar -->
    </div>

    
    <!-- Etapa 3: Entrega Documentos -->
    <div *ngIf="step === 3" class="text-center">
      <h3>Entrega de documentos</h3>
      <ng-container *ngIf="fotoOuDocumentoString==''">
        <button (click)="documentoComoFoto()" class="btn btn-success mt-3">Usar câmera</button>
        <button (click)="documentoComoArquivo()" class="btn btn-success mt-3">Upload de Arquivo</button>
        <button (click)="goBack()" class="btn btn-secondary mt-3">Voltar</button>  
      </ng-container>
      <ng-container *ngIf="fotoOuDocumentoString=='foto'">
        <div class="camera-container">
          <ng-container *ngIf="!documentPhotoUrl">
            <ng-container *ngIf="loadingCamera">
            <div class="loader-container">
              <div class="loader"></div>
            </div>
          </ng-container>
          <video #videoDoc autoplay playsinline></video>
          </ng-container>
          <ng-container *ngIf="documentPhotoUrl">
            <img #photoDoc [src]="documentPhotoUrl" alt="Sua foto do documento aparecerá aqui." >
          </ng-container>
        </div>
        <button (click)="captureDocumentPhoto()" class="btn btn-success mt-3" *ngIf="!documentPhotoUrl">Capturar Foto do Documento</button>
        <button (click)="cancelDocumentPhoto()" class="btn btn-danger mt-3" *ngIf="documentPhotoUrl">Cancelar</button> 
        <button (click)="sendData()" class="btn btn-success mt-3" *ngIf="documentPhotoUrl" >Enviar</button>
        <button (click)="voltarParaEntregaDocumentos()" class="btn btn-secondary mt-3" *ngIf="!documentPhotoUrl">Voltar</button>
      </ng-container>
      <ng-container *ngIf="fotoOuDocumentoString=='arquivo'">
      <!-- Opções de envio de documento -->
      <div class="form-group">
        <label for="fileUpload">Envie seu documento</label>
        <input type="file" class="form-control" id="fileUpload" (change)="onFileSelected($event)">
      </div>
      <button (click)="sendData()" class="btn btn-success mt-3">Enviar</button>
      <button (click)="voltarParaEntregaDocumentos()" class="btn btn-success mt-3">Voltar</button>
      </ng-container>
    </div>

    <!-- Etapa 4: Carregando -->
    <div *ngIf="step === 4" class="text-center">
      <div class="loader-container-processando ">
        <div class="loader"></div>
      </div>
      <h2>Processando...</h2>
    </div>

    <!-- Etapa 5: Concluído -->
    <div *ngIf="step === 5" class="text-center">
      <h2>Cadastro concluído com sucesso.</h2>
      <button (click)="resetFlow()" class="btn btn-success mt-3">Cadastrar outro Hóspede</button>
      <button (click)="concluirCadastro()" class="btn btn-danger mt-3">Encerrar</button>
    </div>

    <!-- Etapa 6: Concluído -->
    <div *ngIf="step === 6" class="text-center">
      <h2>Obrigado por se hospedar com a Forest!!</h2>
    </div>
  </div>
</div>
