/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Contêiner que ocupa toda a tela */
.full-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(360deg,  #9bd6a9f6,  #56a769); /* Gradiente suave */
  font-family: 'Poppins', sans-serif; /* Fonte moderna */
}

/* Contêiner centralizado do formulário */
.container {
  width: 90%;
  max-width: 500px;
  padding: 30px;
  background: #fff; /* Branco neve */
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(50, 205, 50, 0.25); /* Sombra verde suave */
  text-align: center;
}

.logo-img {
  width: 250px;
  height: 150px;
  margin-bottom: 20px; /* Espaço entre a imagem e o formulário */
}

h1 {
  font-size: 36px;
  color: #28a745; /* Verde principal */
  font-weight: 600;
  margin-bottom: 20px;
}
h3 {
  color: #28a745; /* Verde principal */
  font-weight: 600;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.form-control:focus {
  border: 2px solid #3aac55; /* Verde mais intenso no foco */
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3498db;
}

.btn-primary {
  background-color: #1e69de;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #3498db;
}

.btn-success {
  background-color: #28a745; /* Verde sucesso */
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Estilo da câmera */
.camera-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 8px;
}

video, img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Loader container para centralizar */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Leve fundo branco translúcido */
  z-index: 10; /* Para garantir que fica acima do vídeo */
}

/* Loader */
.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #28a745; /* Verde principal */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loader-container-processando {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: rgba(255, 255, 255, 0.8); /* Leve fundo branco translúcido */
  z-index: 10; /* Para garantir que fica acima do vídeo */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo das mensagens de sucesso */
h2 {
  color: #28a745;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}
