<div class="calendar-container">
  <header class="calendar-header">
    <h1> Calendário de Reservas</h1>
    <div class="status-indicators">
      <div class="status-item today">Hoje: {{ reservasHoje.length }}</div>
      <div class="status-item today">Credenciais Feitas: {{ credenciaisFetias }}</div>
      <div class="status-item ongoing">Andamento: {{ reservasAndamento.length }}</div>
      <div class="status-item upcoming">Próximas: {{ proximasReservas.length }}</div>
    </div>
  </header>
  <div >
    <!-- Seção Reservas para Hoje -->
    <div class="section-container">
      <div class="section-header" (click)="toggleSection('hoje')">
        <h5><i class="fas fa-calendar-day"></i> Reservas para hoje</h5>
      </div>
      <div class="section-content" [class.active]="sections.hoje">
        <!-- Tabela para reservas de hoje -->
        <div *ngIf="loadingSections.hoje" class="loading-overlay">
          <div class="spinner"></div>
        </div>
        <table class="calendar-table">
          <thead>
            <tr>
              <th style="width: 5%;">Apartamento</th>
              
              <th style="width: 10%;">Cód Reserva</th>
              <th style="width: 5%;">Início</th>
              <th style="width: 10%;">Check-In</th>
              <th style="width: 5%;">Fim</th>
              <th style="width: 10%;">Check-Out</th>
              <th style="width: 10%;">Credencial</th>
              <th style="width: 10%;">Informado</th>
              <th style="width: 10%;">Docs Env.</th>
              <th style="width: 10%;">Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of reservasHoje" [class.cancelada]="event.description === 'CANCELADA'">
              <td>
                <a [href]="event.link_reserva" target="_blank">{{ event.apartamento_nome }}</a>
              </td>
              <td>{{ findIfBloqued(event) }}</td>
              <td>{{ formatarData(event.start_date) }}</td>
              <td>{{ event.check_in }}</td>
              <td>{{ formatarData(event.end_data) }}</td>
              <td>{{ event.check_out }}</td>            
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.credencial_made" 
                         (change)="updateStatus(event, 'credencial_made', $event,'reservasHoje')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.informed" 
                         (change)="updateStatus(event, 'informed', $event,'reservasHoje')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.documentosEnviados" 
                         (change)="updateStatus(event, 'informed', $event,'reservasHoje')">
                  <span class="checkmark"></span>
                </label>
              </td>

              <td>
                <button (click)="openModal(event)">
                  <i class="fas fa-plus"></i> Mais 
                </button>
              </td>
            </tr>
            <tr *ngIf="reservasHoje.length === 0">
              <td colspan="11">Nenhuma reserva para hoje</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    

    <!-- Seção Próximas Reservas -->
    <div class="section-container">
      <div class="section-header" (click)="toggleSection('proximas')">
        <h5><i class="fas fa-calendar-day"></i> Próximas reservas</h5>
        <span class="arrow" [class.open]="sections.proximas"></span>
      </div>
      <div class="section-content" [class.active]="sections.proximas">
        <div *ngIf="loadingSections.proximas" class="loading-overlay">
          <div class="spinner"></div>
        </div>
        <table class="calendar-table">
          <thead>
            <tr>
              <th>Apartamento</th>
              <th>Cód Reserva</th>
              <th>Data de Início</th>
              <th>Data de Fim</th>
              <th>Credencial</th>
              <th>Informado</th>
              <th>Docs Enviados</th>
              <th>Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of proximasReservas" [class.cancelada]="event.description === 'CANCELADA'">
              <td>
                <a [href]="event.link_reserva" target="_blank">{{ event.apartamento_nome }}</a>
              </td>
              <td>{{findIfBloqued(event)}}</td>
              <td>{{ formatarData(event.start_date) }}</td>
              <td>{{ formatarData(event.end_data) }}</td>
             
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.credencial_made" 
                         (change)="updateStatus(event, 'credencial_made', $event,'proximasReservas')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.informed" 
                         (change)="updateStatus(event, 'informed', $event,'proximasReservas')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.documentosEnviados" 
                         (change)="updateStatus(event, 'informed', $event,'reservasHoje')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <button (click)="openModal(event)">
                  <i class="fas fa-plus"></i> Mais 
                </button>
              </td>
            </tr>
            <tr *ngIf="proximasReservas.length === 0">
              <td colspan="6">Nenhuma reserva para hoje</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- Seção Reservas em Andamento -->
    <div class="section-container">
      <div class="section-header" (click)="toggleSection('andamento')">
        <h5><i class="fas fa-calendar-day"></i> Reservas em Andamento</h5>
        <span class="arrow" [class.open]="sections.andamento"></span>
      </div>
      <div class="section-content" [class.active]="sections.andamento">
        <div *ngIf="loadingSections.andamento" class="loading-overlay">
          <div class="spinner"></div>
        </div>
        <table class="calendar-table">
          <thead>
            <tr>
              <th>Apartamento</th>
              <th>Cód Reserva</th>
              <th>Data de Início</th>
              <th>Data de Fim</th>
              <th>Credencial</th>
              <th>Informado</th>
              <th>Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of reservasAndamento" [class.cancelada]="event.description === 'CANCELADA'">
              <td>
                <a [href]="event.link_reserva" target="_blank">{{ event.apartamento_nome }}</a>
              </td>
              <td>{{ findIfBloqued(event)  }}</td>
              <td>{{ formatarData(event.start_date) }}</td>
              <td>{{ formatarData(event.end_data) }}</td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                        [checked]="event.credencial_made" 
                        (change)="updateStatus(event, 'credencial_made', $event,'reservasAndamento')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                        [checked]="event.informed" 
                        (change)="updateStatus(event, 'informed', $event,'reservasAndamento')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <button (click)="openModal(event)">
                  <i class="fas fa-plus"></i> Mais 
                </button>
              </td>
            </tr>
            <tr *ngIf="reservasAndamento.length === 0 && !loadingSections.andamento">
              <td colspan="7">Nenhuma reserva em andamento</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Seção Reservas Finalizadas -->
    <div class="section-container">
      <div class="section-header" (click)="toggleSection('finalizadas')">
        <h5><i class="fas fa-calendar-day"></i> Reservas finalizadas</h5>
        <span class="arrow" [class.open]="sections.finalizadas"></span>
      </div>
      <div class="section-content" [class.active]="sections.finalizadas">
        <div *ngIf="loadingSections.finalizadas" class="loading-overlay">
          <div class="spinner"></div>
        </div>
        <table class="calendar-table">
          <thead>
            <tr>
              <th>Apartamento</th>
              <th>Cód Reserva</th>
              <th>Data de Início</th>
              <th>Data de Fim</th>
              <th>Credencial</th>
              <th>Informado</th>
              <th>Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of reservasFinalizadas" [class.cancelada]="event.description === 'CANCELADA'">
              <td>
                <a [href]="event.link_reserva" target="_blank">{{ event.apartamento_nome }}</a>
              </td>
              <td>{{ findIfBloqued(event)  }}</td>
              <td>{{ formatarData(event.start_date) }}</td>
              <td>{{ formatarData(event.end_data) }}</td>            
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.credencial_made" 
                         (change)="updateStatus(event, 'credencial_made', $event,'reservasFinalizadas')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="custom-checkbox">
                  <input type="checkbox" 
                         [checked]="event.informed" 
                         (change)="updateStatus(event, 'informed', $event,'reservasFinalizadas')">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <button (click)="openModal(event)">
                  <i class="fas fa-plus"></i> Mais 
                </button>
              </td>
            </tr>
            <tr *ngIf="reservasFinalizadas.length === 0">
              <td colspan="6">Nenhuma reserva para hoje</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
        <!-- Seção Reservas Bloqueadas -->
    <div class="section-container">
      <div class="section-header" (click)="toggleSection('bloqueadas')">
        <h5><i class="fas fa-lock"></i> Reservas Bloqueadas</h5>
        <span class="arrow" [class.open]="sections.bloqueadas"></span>
      </div>
      <div class="section-content" [class.active]="sections.bloqueadas">
        <table class="calendar-table">
          <thead>
            <tr>
              <th>Apartamento</th>
              <th>Cód Reserva</th>
              <th>Data de Início</th>
              <th>Data de Fim</th>
              <th>Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of reservasBloqueadas">
              <td>
                <a [href]="event.link_reserva" target="_blank">{{ event.apartamento_nome }}</a>
              </td>
              <td>{{ event.cod_reserva }}</td>
              <td>{{ formatarData(event.start_date) }}</td>
              <td>{{ formatarData(event.end_data) }}</td>
              <td>
                <button (click)="openModal(event)">
                  <i class="fas fa-plus"></i> Mais 
                </button>
              </td>
            </tr>
            <tr *ngIf="reservasBloqueadas.length === 0">
              <td colspan="5">Nenhuma reserva bloqueada</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Detalhes da Reserva -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <!-- Cabeçalho -->
    <div class="modal-header">
      <h3>Detalhes da Reserva</h3>
      <button class="close-btn" (click)="closeModal()">×</button>
    </div>

    <!-- Corpo -->
    <div class="modal-body">
      <!-- Seção: Informações da Reserva -->
      <div class="modal-section">
        <h5>Informações da Reserva</h5>
        <div class="modal-grid">
          <div class="modal-item">
            <label>Data de Início</label>
            <span>{{ formatarData(selectedReservation!.start_date) }}</span>
          </div>
          <div class="modal-item">
            <label>Data de Fim</label>
            <span>{{ formatarData(selectedReservation!.end_data) }}</span>
          </div>
          <div class="modal-item">
            <label>Check-In</label>
            <input type="time" class="form-control" [(ngModel)]="selectedReservation!.check_in" (change)="updateTime()">
          </div>
          <div class="modal-item">
            <label>Check-Out</label>
            <input type="time" class="form-control" [(ngModel)]="selectedReservation!.check_out" (change)="updateTime()">
          </div>
          <div class="modal-item">
            <label>Código</label>
            <input type="text" class="form-control" [value]="selectedReservation!.cod_reserva" readonly>
          </div>
        </div>
      </div>

      <hr>
      <!-- Seção: Informações do Hóspede -->
      <div class="modal-section">
        <h5>Informações do Hóspede</h5>      
        <div *ngIf="!carregandoImagem">
          <button class="btn-primary" (click)="exportData()" style="margin-right: 10px;">
            <i class="fas fa-file-export"></i> Exportar Tudo
          </button>
        </div>

        <div *ngIf="carregandoImagem" class="loading-container">
          <div class="spinner"></div>
          <span>Carregando imagem...</span>
        </div>
        <div *ngIf="hospedesReserva.length==0 && !carregandoImagem " >
          <h6>Sem hóspedes cadastrados!</h6>
        </div>
        <div class="modal-grid" >
          <div *ngFor="let hospede of hospedesReserva" class="hospede-row">
            <p><strong>Hóspede:</strong> {{ hospede.first_name }}</p>
            <p><strong>CPF:</strong> {{ formatarCPF(hospede.CPF) }}</p>
            <p><strong>Telefone:</strong> {{ formatarTelefone(hospede.Telefone) }}</p>
            <p><strong>Horário:</strong> {{ formatarDataparaTable(hospede.created_at) }}</p>

            <div class="hospede-section">
              <!-- Exibição da imagem do hóspede -->
  
              <div *ngIf="hospede.imagemBase64">
                <img [src]="'data:image/png;base64,' + hospede.imagemBase64" 
                     alt="Imagem do Hóspede" 
                     style="width: 350px; height: 350px; object-fit: cover; border: 1px solid #ccc; padding: 5px;">
              </div>
        
              <!-- Exibição do documento (PDF ou imagem) -->
              <div *ngIf="hospede.documentBase64">
                <ng-container *ngIf="isPDF(hospede.documentBase64); else imagemDocumento">
                  <!-- Se for PDF, exibe um iframe ou link -->
                  <iframe [src]="getSafeUrl(hospede.documentBase64)" 
                          style="width: 350px; height: 350px; border: 1px solid #ccc;"></iframe>
                </ng-container>
                <ng-template #imagemDocumento>
                  <!-- Se for imagem, exibe como uma imagem -->
                  <img [src]="'data:image/png;base64,' + hospede.documentBase64" 
                       alt="Documento do Hóspede" 
                       style="width: 350px; height: 350px; object-fit: cover; border: 1px solid #ccc; padding: 5px;">
                </ng-template>
              </div>
            </div>
          </div>

        </div>
      </div>
      
       <!-- Seção: Informações do Apartamento -->
      <div class="modal-section">
        <h5>Informações do Apartamento</h5>
        <div class="modal-grid">
          <div class="modal-item">
            <label>Nome</label>
            <input type="text" class="form-control" [value]="selectedApartment?.nome" readonly>
          </div>
          <div class="modal-item">
            <label>Nome do Anúncio</label>
            <input type="text" class="form-control" [value]="selectedApartment?.nome_anuncio" readonly>
          </div>
          <div class="modal-item">
            <label>SSID-WIFI</label>
            <input type="text" class="form-control" [value]="selectedApartment?.ssid_wifi" readonly>
          </div>
          <div class="modal-item">
            <label>Senha WIFI</label>
            <input type="text" class="form-control" [value]="selectedApartment?.senha_wifi" readonly>
          </div>
          <div class="modal-item">
            <label>Senha da Porta</label>
            <input type="text" class="form-control" [value]="selectedApartment?.senha_porta" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>