<!-- escala-faxina.component.html -->
<div class="calendar-container">
  <!-- Abas -->
  <nav class="tabs-header">
    <ul>
      <ng-container *ngFor="let tab of tabs">
            <li  [class.active]="activeTab === tab.id" (click)="selectTab(tab.id)">
              {{ tab.label }}
            </li>
      </ng-container>
    </ul>
  </nav>

  <!-- Conteúdos por aba -->
  <div class="tabs-content">

   <!-- Faxinas para Hoje -->
    <section *ngIf="activeTab === 'hoje'">
      <div class="faxina-cards mobile-only">
        <div *ngIf="faxinasHoje.length === 0" class="no-data">
          Nenhuma faxina para hoje
        </div>
        <div *ngFor="let faxina of faxinasHoje"
            class="faxina-card"
            [class.cancelada]="faxina.description === 'CANCELADA'">

          <div class="card-header">
            <h3>Apt {{ faxina.apartamento_nome }}</h3>
            <ng-container *ngIf="faxina.description === 'CANCELADA'">
                <span class="status-badge" [class.done]="faxina.limpeza_realizada">
                  {{ '❌ CANCELADA' }}
                </span>
            </ng-container>
            <ng-container *ngIf="faxina.description !== 'CANCELADA'">
                <span class="status-badge" [class.done]="faxina.limpeza_realizada">
                  {{ faxina.limpeza_realizada ? '✔ Finalizado' : '⌛️ Pendente' }}
                </span>
            </ng-container>
          </div>

          <div class="card-body">
            <div class="card-row">
              <strong>Check-Out:</strong>
              <span>{{ faxina.check_out }} – {{ formatarCheckInMesmoDia(faxina) }}</span>
            </div>
            <div class="card-row">
              <strong>Senha:</strong>
              <strong>{{ faxina.apartamento_senha }}</strong>
            </div>
          </div>

          <!-- Mantive o checkbox caso queira toggle manual -->
          <div class="card-footer">
            <label class="custom-checkbox">
              <input type="checkbox"
                    [checked]="faxina.limpeza_realizada"
                    (change)="updateStatus(faxina, 'limpeza_realizada', $event, 'faxinasHoje')">
              <span class="checkmark"></span>
            </label>
            <span>Limpeza Finalizada</span>
          </div>
        </div>
      </div>
    </section>
    <!-- Faxinas Esta Semana -->
    <section *ngIf="activeTab === 'futuras'">
      <div class="faxina-cards mobile-only">
        <div *ngIf="faxinasFuturas.length === 0" class="no-data">
          Nenhuma faxina futura.
        </div>
        <div *ngFor="let faxina of faxinasFuturas"  class="faxina-card"   [class.cancelada]="faxina.description === 'CANCELADA'">
          <div class="card-header">
            <h3>Apt {{ faxina.apartamento_nome }}</h3>
            <ng-container *ngIf="faxina.description === 'CANCELADA'">
                <span class="status-badge" [class.done]="faxina.limpeza_realizada">
                  {{ '❌ CANCELADA' }}
                </span>
            </ng-container>
            <ng-container *ngIf="faxina.description !== 'CANCELADA'">
                <span class="status-badge" [class.done]="faxina.limpeza_realizada">
                  {{ faxina.limpeza_realizada ? '✔ Finalizado' : '⌛️ Pendente' }}
                </span>
            </ng-container>
          </div>
          <div class="card-body">
            <div class="card-row">
              <strong>Data:</strong>
              <strong>{{ faxina.end_data }}</strong>
            </div>
            <div class="card-row">
              <strong>Dia:</strong>
              <strong>{{ getDiaDaSemana(formatarData(faxina.end_data)) }}</strong>
            </div>
            <div class="card-row">
              <strong>Check-Out:</strong>
              <span>{{ faxina.check_out }} – {{ formatarCheckInMesmoDia(faxina) }}</span>
            </div>
            <div class="card-row">
              <strong>Senha:</strong>
              <strong>{{ faxina.apartamento_senha }}</strong>
            </div>
          </div>
          <!-- Mantive o checkbox caso queira toggle manual -->
          <div class="card-footer">
            <label class="custom-checkbox">
              <input type="checkbox"
                    [checked]="faxina.limpeza_realizada"
                    (change)="updateStatus(faxina, 'limpeza_realizada', $event, 'faxinasFuturas')">
              <span class="checkmark"></span>
            </label>
            <span>Limpeza Finalizada</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
