<div class="controle-container">
  <div class="payment-screen">
    <h2>Gestão de Pagamentos</h2>
    
    <div class="payment-filter">
      <select class="month-select" [(ngModel)]="selectedMonth" (change)="loadPayments()">
        <option value="">Selecione o mês</option>
        <option *ngFor="let month of monthOptions" [value]="month.value">
          {{ month.label }}
        </option>
      </select>
    </div>

    <div class="payment-summary">
      <div class="summary-card">
        <h3>Total do Mês</h3>
        <p class="amount">R$ {{ totalMes | number:'1.2-2' }}</p>
        <div class="divider"></div>
        <div class="summary-details">
          <div>Valor por Faxina: R$ {{ valorPorFaxina | number:'1.2-2' }}</div>
          <div>Total de Faxinas: {{ totalFaxinas }}</div>
        </div>
      </div>

      <div class="transaction-list">
        <div class="payment-table-header">
          <div>Terceirizado</div>
          <div>Faxinas Realizadas</div>
          <div>Valor a Pagar</div>
        </div>
        <div class="payment-items">
          <div class="payment-item" *ngFor="let pagamento of pagamentos">
            <div class="tercerizado-name">{{ pagamento.user.first_name }}</div>
            <div class="faxinas-count">{{ pagamento.totalFaxinas }}</div>
            <div class="payment-value">R$ {{ pagamento.valorTotal | number:'1.2-2' }}</div>
            <div class="tercerizado-name">
              <button (click)="downloadXls(pagamento)">Baixar XLS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
