.containerAux {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #F6F6F6;
    height: 100vh; /* Altura padrão quando a navbar não está presente */
}

/* Quando a navbar está presente, ajusta a altura do container */
app-nav-bar-airbnb + .containerAux {
    height: 88vh; /* Altura quando a navbar está visível */
}

/* Estilos da scrollbar (mantidos do código original) */
.containerAux::-webkit-scrollbar {
    width: 7px;
}

.containerAux::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.containerAux::-webkit-scrollbar-thumb {
    background: #006400;
    border-radius: 10px;
}

.containerAux::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}