<div class="register-container">
  <section class="vh-100 d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card">
            <div class="card-body p-5">
              <h2 class="text-center mb-4" style="color: var(--secondary-color)">
                Registro Forest
              </h2>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!-- Primeiro Nome e Sobrenome -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first_name">Primeiro Nome</label>
                      <input
                        type="text"
                        id="first_name"
                        class="form-control"
                        placeholder="Digite seu primeiro nome"
                        formControlName="first_name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="last_name">Sobrenome</label>
                      <input
                        type="text"
                        id="last_name"
                        class="form-control"
                        placeholder="Digite seu sobrenome"
                        formControlName="last_name"
                        required
                      />
                    </div>
                  </div>
                </div>

                <!-- CPF e Telefone -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cpfInput">CPF</label>
                      <input
                        type="text"
                        id="cpfInput"
                        class="form-control"
                        placeholder="000.000.000-00"
                        formControlName="cpf"
                        mask="000.000.000-00"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="telefone">Telefone</label>
                      <input
                        type="text"
                        id="telefone"
                        class="form-control"
                        placeholder="(00) 00000-0000"
                        formControlName="telefone"
                        mask="(00) 00000-0000"
                        required
                      />
                    </div>
                  </div>
                </div>

                <!-- Select para Role -->
                <div class="row mb-3">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="role">Função</label>
                      <select id="role" class="form-control" formControlName="role" required>
                        <option value="" disabled selected>Selecione uma função</option>
                        <option value="admin">Admin</option>
                        <option value="guest">Guest</option>
                        <option value="terceirizado">terceirizado</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- E-mail e Confirmação de E-mail -->
                <div formGroupName="emailGroup" class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        placeholder="Digite seu e-mail"
                        formControlName="email"
                        required
                        autocomplete="username"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="confirmEmail">Confirmar E-mail</label>
                      <input
                        type="email"
                        id="confirmEmail"
                        class="form-control"
                        placeholder="Confirme seu e-mail"
                        formControlName="confirmEmail"
                        required
                      />
                    </div>
                  </div>
                </div>

                <!-- Senha e Confirmação de Senha -->
                <div formGroupName="passwordGroup" class="row mb-4">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Senha</label>
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        placeholder="Digite sua senha"
                        formControlName="password"
                        required
                        autocomplete="new-password"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="confirmPassword">Confirmar Senha</label>
                      <input
                        type="password"
                        id="confirmPassword"
                        class="form-control"
                        placeholder="Confirme sua senha"
                        formControlName="confirmPassword"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-success btn-lg px-4">
                    Registrar
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- Fim do card -->
        </div>
      </div>
    </div>
  </section>
</div>
